@import "tailwindcss";

@theme {
    --color-main: #ff3939;
    --color-second: #fe6b4b;
    --color-third: #fe8856;
    --color-grey: #dbdbdb;
    --color-black: #303030;
    --color-white: #ffffff;
    --color-bg: #f8f8f8;
}
