@import "tailwindcss";

@theme {
    --color-main: #ff3939;
    --color-second: #fe6b4b;
    --color-third: #fe8856;
    --color-grey: #dbdbdb;
    --color-black: #303030;
    --color-white: #ffffff;
    --color-bg: #F1F3F8;
    --color-placeholder: #A4A4A4;
    --color-darkgrey: #7B7B7B;
    --color-blue: #0061FE;
}
